.main-page-book-review {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto 10px 1fr;
    grid-template-rows: repeat(5 auto);
    
}
.book-title{
    text-decoration-color: blue;
    grid-column-start: 3;
    grid-row: 1 2;
}
.bookrating{
    text-shadow: 1px 1px 2px green;
    grid-column-start: 3;
    grid-row: 2 3;
}
.bookauthors{
    color: green ;
    display: grid;
    grid-column: 3;
    grid-row: 3 4;
}
footer{
    background-color: darkmagenta;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
html{
    background-color: lightcoral;
}
body{
    margin: 2%;
}
header{
    padding: 12px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 45px;
}
main{
    max-width: 800px;
}
.bookcover{
    height: auto;
    width: auto;
    grid-column: auto;
    grid-row: span 6;
}
.detailpagebookreview{
    color: chartreuse;
}
input{
    border: 1px solid darkblue;
    border-radius: 4px;
}
textarea{
    border: 2px solid orangered;
    border-radius: 1in ;
}
button{
    padding: 12px ;
    font-size: 110%;
    font: bold;
}
.bookreviewform{
    background-color: blanchedalmond;
    padding: 25px;
}
.summary{
    grid-column: 3;
    grid-row: 4 6;

}